@{
    ViewData["Title"] = "Quienes Somos";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="Creditos">
    </div>
    <br>
    <div>
            <img src="/imgs/julian.jpg" alt="" class="img-creditos">
            <img src="/imgs/maxi.jpeg" alt="" class="img-creditos">
    </div>
    <div>   
            <h2>Desarrollado por: Julian Furland Otero</h2>
            <h2>Diseño grafico: Maximiliano Sher</h2> 
    </div>
    <br>
</body>
</html>