@{
    ViewData["Title"] = "Info";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h3>Como elector o electora tenés derecho a ejercer el voto de manera libre. Las características del sufragio son las siguientes:</h3>
    <br>
    <h5>
        <ul>
        <li>Universal: todos los argentinos y argentinas, independientemente de su sexo, raza, religión, etc., son titulares del derecho al sufragio a partir de los 16 años de edad. En las Elecciones Primarias, los electores o electoras que aún no hayan cumplido los 16 años pero que los vayan a cumplir hasta el día de la elección nacional, inclusive, tienen también derecho a votar. Los procesados que se encuentren cumpliendo prisión preventiva, tienen derecho a emitir su voto en todos los actos eleccionarios que se celebren durante el lapso en que se encuentren detenidos. </li>
        <br>
        <li>Igual: el voto de todas las personas tiene el mismo valor. Este principio se expresa de la siguiente manera: "un ciudadano, un voto".</li>
        <br>
        <li>Secreto: el voto se emite en ciertas condiciones que impiden conocer qué eligió cada elector o electora y nadie puede ser obligado, antes o después del acto electoral, a revelar su voto. </li>
        <br>
        <li>Libre: ninguna persona puede ser forzada a votar a favor o en contra de alguna agrupación política o candidatura determinada.</li>
        <br>
        <li>Obligatorio: todo elector o electora que se encuentre habilitado está obligado a votar.</li>
        <br>
        <li>El ejercicio del voto es un deber cívico también para los electores o electoras de 16 y 17 años y para los mayores de 70, aunque quienes tengan esas edades no serán incluidos en el Registro de Infractores al Deber de Votar en caso de no emitir el sufragio.</li>
        </ul>
    </h5>
</body>
</html>